[Desktop Entry]
Type=Application
Version=1.0
Name=FlipClock
Comment=A flip clock screensaver supported by SDL2.
Icon=flipclock
Exec=flipclock -f /usr/share/fonts/flipclock.ttf
TryExec=/usr/bin/flipclock
StartupNotify=false
Terminal=false
Categories=Game;
